html, body {
	height: 100vh;
}

:root {
	box-sizing: border-box;
}

*, ::after, ::before {
	box-sizing: inherit;
}

body {
	margin: 0;
}

.link-container {
	display: inline-block;
	height: 100%;
}

.logo-box {
	display: inline-block;
	width: 20%;
}

.logo-box-link {
	display: inline-block;
}

.logo-box-image {
	width: 50px;
}

.nav-bar {
	border-bottom: 2px;
	border-color: grey;
	border-style: solid;

	padding-top: 8px;
	padding-bottom: 8px;
	padding-left: 5px;
	padding-right: 5px;

	position: fixed;
	top: 0;
	left: 0;
	right: 0;

	background-color: white;

	z-index: 1;
}

.form-search {
	display: inline-block;
	height: 40px;
	font-size: 0;
}

.form-search-input {
	height: 100%;
}

.form-search-button {
	height: 100%;
}

main {
	font-family: 'Roboto', sans-serif;

	margin-top: 76px;
	margin-left: 40px;
	margin-right: 40px;

	padding-top: 10px;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 20px;

	position: relative;
	height: 100%;
}

.video-item-image {
	width: 100%;
	max-width: 100%;
}

.video-item-image:hover {
	cursor: pointer;
}

.video-item-link {
	text-decoration: none;
	color: inherit;
}

.video-item-link:visited {
	color: inherit;
}

.video-item-title {
	text-overflow: ellipsis;
}

@media(min-width: 500px) {
	.carousel {
		overflow-x: scroll;
		white-space: nowrap;
	}

	.video-item {
		display: inline-block;
		margin: 15px;
		padding: 1px;
		width: calc(33% - 30px);
		color: black;
	}
}

@media(min-width: 800px) and (max-width: 800px) {
	.carousel {
		overflow-x: scroll;
		white-space: nowrap;
	}

	.video-item {
		display: inline-block;
		margin: 15px;
		padding: 1px;
		width: calc(25% - 30px);
		color: black;
	}
}

/*
.carousel {
	overflow-x: scroll;
	white-space: nowrap;
}

.video-item {
	display: inline-block;
	margin: 15px;
	padding: 1px;
	width: calc(25% - 30px);
	color: black;
}
*/
